<ion-view>
  <ion-slide-box active-slide="model.activeIndex" does-continue="false" slide-interval="3000">

    <ion-slide>
      <div class="slideDiv">
        <img ng-src="./img/no1.png" alt="" class="slideImg">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slideDiv">
        <img ng-src="./img/no2.png" alt="" class="slideImg">
      </div>
    </ion-slide>

    <ion-slide ui-sref="tab.map">
      <div class="slideDiv">
        <img ng-src="./img/no3.png" alt="" class="slideImg">
      </div>
    </ion-slide>

  </ion-slide-box>
</ion-view>
